<h2>Zoopla Properties</h2>
<div class="col-md-8 col-md-offset-2">
 <div class="form-group">
  <input type="text" [(ngModel)]="id_postcode" class="form-control" placeholder="Enter a postcode ..."><br>
  <input type="text" [(ngModel)]="id_area" class="form-control" placeholder="Enter an area ..."><br>
  <button type="button" class="btn btn-primary" (click)="callPropertiesService()">Submit</button>
  <br><br><br>
  <br>
  <div class="well lead">
  
	<ul id="propertiesList">
		<li class="property" *ngFor="let property of this.op_propertiesList; let i = index">
			<img class="propThumb" id="propThumb{{i}}" src="{{ property.image_url }}" alt="" ><br>
			<p class="addr"><i>Address :</i> {{ property.displayable_address }}</p>
			<p clas="desc"><i>Description :</i> {{ property.description }}</p>
		</li>
	</ul>
  </div>
  <p class="text-info">Total # of all the service requests including Properties and School is :
    <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>
 </div>
</div>